PORT=3001
FRONTEND_URL=http://localhost:5173
TURSO_URL=libsql:libsql://linkdo-rony36606.aws-us-east-2.turso.io
TURSO_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzgyMTE1ODgsImlkIjoiMDE5ZTA1YWEtMTAwMS03NDI4LWJmNjItYWU4ZDA1ZmM3NTg2IiwicmlkIjoiYjI3YzQyNjYtMjdkYy00MmZkLTg5NmItODcyODE3ZTZiZTZhIn0.EEusy3vvYDA5t2kDf5PRELf4hYx6E6vJ2ncnfGHMwegC0RrktlwrPhbM7LbwlIptiQc3ImoCoWingwvq7AQZCQ